@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --main-bg-color: #7c203a;
    --header-color: #feff89;
    --alternate-subheader-color: #e67a7a;
    --subheader-color: hsl(22, 100%, 70%);
    --main-txt-font: 'Barlow Condensed';
    --main-txt-color: white; 
    --highlights-color: #e2f3f5;
    --extra-color:#ffb4a2;
}
body{
    box-sizing: border-box;
    font-family: var(--main-txt-font);
    font-size: 1.3em;
    color: var(--main-txt-color);
    background-color: var(--main-bg-color);
}
.image-align{
    text-align: center;
}
img{
    margin-top: 30px;
    text-align: center;
    width: 60%;
    max-width: 500px;
    border: 2px solid black;
}
.grid-wrapper{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr .5fr 1fr;
}
.input-buttons input{
    background-color: #f85959;
    width: 20%;
    margin-right: 20px;
    color: #f3f3f3;
    font-weight: bold;
    cursor: pointer;
}
.input-buttons input:hover{
    transition: 1s ease;
    background-color:hsl(0, 92%, 62%);
}
.redstar{
    color: red;
}
table td{
    padding: 10px;
}

section{
    box-shadow: 2px 2px 2px 2px black;
    margin-bottom: 20px;
    color: black;
    padding: 10px;
    background-color: var(--subheader-color);
}
table td, th, tr{
    border: 1px solid black;
    text-align: center;
}
.form-wrapper{
    color: black;
    background-color:var(--header-color);
    box-shadow: 3px 3px 3px 3px black;
}
form input{
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 1px 2px black;  
}
.r1{
    background-color:hsl(22, 100%, 60%);
}
form div{
    margin: 30px 0 20px 0px; 
}
form label{
    margin-right: 10px;
}
input[type='radio']{
    box-shadow: none;
}
h3{
    color: var(--alternate-subheader-color);
    text-shadow: 1px 1px 1px black;
    font-size: 2.5em;
    border-bottom: 1px solid orange;
}
header h1{ 
    text-shadow: 2px 2px 2px black;
   color: var(--header-color);
   font-size: 5em;
   margin-left: 20px;
}
table{
    border-collapse: collapse;

    width: 100%;
    margin: 10px;
}

table th{
    font-size: 1.3rem;
}

